
<div class="container-fluid">
  <div class="contenedor">
    <h1 class="logo text-center mb-3">Contactanos</h1>
  
    <div class="contenido_contactanos">
      <div class="formulario_de_contacto">
        <h3>Contactanos</h3>
        <form>
          <p>
            <label>Nombre</label>
            <input type="text" name="nombre_completo" />
          </p>
          <p>
            <label>Email</label>
            <input type="email" name="email" />
          </p>
          <p>
            <label>Telefono</label>
            <input type="tel" name="telefono" />
          </p>
          <p>
            <label>Asunto</label>
            <input type="text" name="asunto" />
          </p>
          <p class="bloque">
            <label>Mensaje</label>
            <textarea name="mensaje" rows="3"></textarea>
          </p>
          <p class="bloque">
            <button class="btn" type="submit">Enviar</button>
          </p>
        </form>
      </div>
      <div class="contactanos_info text-center">
        <h4>Mas informacion</h4>
        <ul>
          <li><i class="fa-solid fa-location-dot"></i> Baker Street</li>
          <li><i class="fa-solid fa-phone"></i> 111 111 111 111</li>
          <li><i class="fa-solid fa-envelope"></i> orfeouribe@gmail.com</li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam nobis
          consequatur amet harum explicabo voluptatem, sequi in id. Tempore,
          atque.
        </p>
        <p class="p1">Compañia.com</p>
      </div>
    </div>
  </div>
</div>
  
