<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
        <div class="col-3">
            <app-tarjetas></app-tarjetas>
        </div>
    </div>
</div>
