<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img src="../../../assets/pesas-removebg-preview.png" alt="..." />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Mancuerna</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img
            src="../../../assets/suplemento-removebg-preview.png"
            alt="..."
          />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Suplemento</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img src="../../../assets/pesa_rusa-removebg-preview.png" alt="..." />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Pesa Rusa</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img
            src="../../../assets/barra_olimpica-removebg-preview.png"
            alt="..."
          />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Barra olimpica</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img
            src="../../../assets/remera_deportiva-removebg-preview.png"
            alt="..."
          />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Remera deportiva</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img src="../../../assets/soga-removebg-preview.png" alt="..." />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Soga</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img
            src="../../../assets/barra_dominadas-removebg-preview.png"
            alt="..."
          />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Barra-dominadas</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-3 container_tarjetas">
      <div class="tarjeta">
        <div class="cubierta">
          <img
            src="../../../assets/caminadora-removebg-preview.png"
            alt="..."
          />
          <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
          <h4 class="card-title">Caminadora</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Precio:</li>
            <li class="list-group-item">Comerciante/Empresa:</li>
            <li class="list-group-item">Stock:</li>
          </ul>

          <div>
            <button class="btn btn-primary float-start">Leer más</button
            ><button class="btn btn-success float-end">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
