<div class="container-fluid mb-3">
    <div class="row">
        <h1 class="text-center">Sobre nostros</h1>
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatibus, libero, modi 
            velit iure magnam quod veritatis mollitia similique unde blanditiis consequuntur veniam, quia 
            officia rerum ipsam beatae consectetur dolorem!<br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatibus, libero, modi 
            velit iure magnam quod veritatis mollitia similique unde blanditiis consequuntur veniam, quia 
            officia rerum ipsam beatae consectetur dolorem!<br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatibus, libero, modi 
            velit iure magnam quod veritatis mollitia similique unde blanditiis consequuntur veniam, quia 
            officia rerum ipsam beatae consectetur dolorem!<br><br>
        </div>
        <div class="col">
            <img src="../../../assets/organizacion.jpg" alt="">
        </div>
    </div>
</div>
