<div class="card mt-3" style="width: 18rem;">
    <img src="https://cdn-icons-png.flaticon.com/512/335/335954.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio:  .....</li>
      <li class="list-group-item">Vendedor/Empresa:  .....</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-success float-end">Comprar</button>
    </div>
</div>
