
<div class="container_tarjetas">
    <div class="tarjeta">
        <div class="cubierta">
            <img src="../../../assets/pesas-removebg-preview.png" alt="">
            <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
            <h2>Mancuerna</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, sed!</p>
            <input type="button" value="Leer mas">
        </div>
    </div>

    <div class="tarjeta">
        <div class="cubierta">
            <img src="../../../assets/suplemento-removebg-preview.png" alt="">
            <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
            <h2>Suplemento</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, sed!</p>
            <input type="button" value="Leer mas">
        </div>
    </div>

    <div class="tarjeta">
        <div class="cubierta">
            <img src="../../../assets/pesa_rusa-removebg-preview.png" alt="">
            <div class="fondo_de_la_tarjeta"></div>
        </div>
        <div class="descripcion">
            <h2>Pesa Rusa</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, sed!</p>
            <input type="button" value="Leer mas">
        </div>
    </div>
    
</div>